@import "globalVariables.module.scss";

.header_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.settings_container {
  font-size: 14px;
  color: #000000;
  position: absolute;
  top: 20px;
  right: 20px;
}

.settings_container button {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  color: #d6d6d6;
  border-style: none;
  cursor: pointer;
  &:hover {
    color: #ffffff;
  }
}

.button_anim {
  animation: spin 0.4s ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    color: #ffffff;
  }
  100% {
    transform: rotate(40deg);
    color: #ffffff;
  }
}

.button_anim_return {
  animation: spin_return 0.4s ease-in;
}

@keyframes spin_return {
  0% {
    transform: rotate(0deg);
    color: #ffffff;
  }
  100% {
    transform: rotate(-40deg);
    color: #ffffff;
  }
}

.ul_display_none {
  display: none;
}

.show_ul {
  visibility: visible;
  position: absolute;
  top: 30px;
  right: 25px;
  list-style: none;
  width: 100px;
  animation: show_ul_anim 0.5s ease-in;
  z-index: 999;
}

@keyframes show_ul_anim {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hide_ul {
  pointer-events: none;
  position: absolute;
  top: 30px;
  right: 25px;
  list-style: none;
  width: 100px;
  opacity: 0;
  animation: hide_ul_anim 0.5s ease-in;
  z-index: 999;
}

@keyframes hide_ul_anim {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

// .settings_container ul div {
//   width: 100%;
//   display: flex;
//   background-color: aqua;
// }

.settings_container li {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid $primaryColor;
  &:hover {
    background-color: #b0daff;
  }
}

.back_drop {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  position: fixed;
  inset: 0;
  // top: -20px;
  // right: -20px;
  opacity: 0.3;
  z-index: 2;
}

.modal_common {
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: calc(25vh - 20px);
  right: calc(25vw - 20px);
  background-color: #18221c;
  color: #c1e1fd;
  border: 1px solid #c1e1fd;
  z-index: 999;
  border-radius: 10px;
  animation: modal_anim 0.4s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@keyframes modal_anim {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal_header {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  text-align: justify;
}

.modal_body {
  width: 80%;
  height: 40%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal_footer {
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal_footer span {
  cursor: pointer;
  &:hover {
    color: white;
  }
}

@media screen and (max-width: 720px) {
  .modal_common {
    width: 70vw;
    height: 50vh;
    position: absolute;
    top: calc(30vh - 20px);
    right: calc(15vw - 20px);
  }

  .modal_header {
    font-size: 1rem;
  }

  .modal_body {
    font-size: 12px;
  }

  .modal_footer {
    font-size: 12px;
  }
}
