.add_expense_container {
  position: relative;
}
.add_expense_header {
  text-align: center;
  margin-bottom: 20px;
}

.input_common {
  margin: 10px;
  width: calc(100% - 40px);
  padding: 10px;
  padding-left: 15px;
  border: none;
  border-radius: 999px;
  &:focus {
    outline: none;
  }
}
.btn_submit {
  width: 40%;
  margin: 15px;
  margin-right: 0;
  padding: 8px;
  position: absolute;
  right: 0;
  color: white;
  background-color: #318653;
  border: none;
  cursor: pointer;
  border-radius: 999px;
  &:hover {
    background-color: #3fa869;
  }
  &:active {
    background-color: #4cc77d;
  }
}
