.set_password_modal_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.set_password_form {
  width: 80%;
}

.password_input_common {
  width: calc(100% - 40px);
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 999px;
  &:focus {
    outline: none;
  }
}

.password_submit {
  width: calc(50% - 40px);
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 999px;
  background-color: #318653;
  color: #ffffff;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #3fa869;
  }
  &:active {
    background-color: #4cc77d;
  }
}
